<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="UserName" value="" />
    <add key="Password" value="" />
    <add key="SecurityToken" value="BUgrn5LiJZeEHlVFMJjipAfMR" />
    <add key="ClientId" value="3MVG9pe2TCoA1Pf6iUOxAvdfUBxil76wZDZmFrDg29Mi3ITvtV6L6LGBtgnx25ciKF2fvHedis.OkLfdohnsg" />
    <add key="ClientSecret" value="247767180054201131" />
    <add key="loginEndpoint" value="https://login.salesforce.com/services/oauth2/token" />
    <add key="streamingEndpointURI" value="/cometd/44.0" />
    <add key="channel" value="/topic/AccountUpdates" />

    <add key="IsSandboxUser" value="false" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>